* {
    margin: 0;
    padding: 0;
    
}
body {
    background-image: url("background2.png");
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;  
}
h1 {
    color: #000000;
    font-size: 2.5em;
    margin: 20px 0;
    text-align : center;
}
h2 {
    color: #43ca28;
    font-size: 1.5em;
    margin: 30px 0 15px 0;
}
h3 {
    color: #b2394e;
    font-size: 1.2em;
    margin: 20px 0 10px 0;
}
#heading {
    display : flex;
    justify-content : center;
    align-items: center;
    background-color: #f047218e;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}
#container {
    border: solid 1px black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: 30px auto 0;
    box-sizing: border-box;
}
.child1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    background-color: aqua;
}
#container2 {
    border: solid 1px black;
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    gap : 10px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}
.boite {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    height: 33.33%;
    margin: 5px;
    border-radius: 10px;
    padding: 20px;
    background-color: #f047218e;
}
#container3 {
    width: 33.3%;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border : solid 1px black;
}
.boite3 {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    padding: 20px;
    background-color: #f047218e;
    box-sizing: border-box;
}
#container3bis {
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
.boite4 {
    border: solid 1px black;
    display : block;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 71, 133, 0.56);
    padding: 2px;
    border-radius: 5px;
}
#container4 {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: flex-start;
}
#photo {
    width: 150px;
    height: 210px;
    background-color: #43ca28;
    align-self: center;
}