* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #3485ff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
h1 {
    color: #000000;
    font-size: 2.5em;
    margin: 20px 0;
    text-align : center;
}
h2 {
    color: #43ca28;
    font-size: 1.5em;
    margin: 30px 0 15px 0;
}
h3 {
    color: #b2394e;
    font-size: 1.2em;
    margin: 20px 0 10px 0;
}